%%-*- mode: erlang -*-

{deps, [
	{jsx,".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
	{craterl, ".*", {git, "https://github.com/yongteak/craterl", {branch, "master"}}},
	{couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", "master" }},
	{lager, ".*", { git, "https://github.com/basho/lager.git", "master" }},
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
	{base64url, ".*", {git, "https://github.com/SCDependencies/base64url", {branch, "master"}}},
	{jose, ".*", {git, "git://github.com/potatosalad/erlang-jose.git", {branch, "master"}}},
	%{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "2.6.2"}}},
	{poolboy, ".*" , { git, "https://github.com/devinus/poolboy.git", {tag,"1.5.1"} }},
	%{ibrowse, ".*" , { git, "https://github.com/cmullaparthi/ibrowse.git", "master" }},
	{uuid, ".*", {git, "https://github.com/okeuday/uuid"}},
	{reloader, ".*", {git, "https://github.com/yongteak/reloader.git", "master"}},
	{sqerl, ".*", {git, "https://github.com/yongteak/sqerl", "master"}},
	{edate, ".*", {git, "https://github.com/dweldon/edate", "master" }},
	%{ets_cache, ".*", {git, "https://github.com/dataloop/ets_cache", "master" }},
	{cache, ".*", {git, "https://github.com/fogfish/cache", "master" }},
	{iconv, ".*", {git, "https://github.com/processone/iconv", "master" }},
	%%{emqttc, ".*", {git, "https://github.com/emqtt/emqttc.git"}},
	{eql, ".*", {git, "https://github.com/artemeff/eql.git"}},
	%%{eredis_poolboy, ".*", {git, "https://github.com/vzzy/eredis_poolboy",{tag, "1.0.0"}}},

	%% validator
	%%{ email_address, ".*",  { git, "https://github.com/mswimmer/erlang-email-address", "master"}},

	%%{ gen_smtp, ".*",  { git, "https://github.com/Vagabond/gen_smtp", "master"}},
	%%{ geohash, ".*",  { git, "https://github.com/treetopllc/geohash", "master"}},

	%%{erl_csv_generator, ".*", {git, "https://github.com/manastech/erl_csv_generator.git"}},


	%{push_service, ".*", {git, "https://github.com/hairyhum/push_service.git", {branch, "master"}}},

	%% crawler
	{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git"}},
	{qrly, ".*", {git, "https://github.com/marianoguerra/qrly.git"}},
	{oculus, ".*", {git, "https://github.com/cthulhuology/oculus.git"}}
	%{ssdb, ".*", {git, "https://github.com/yongteak/ssdb-erlang.git"}}
]}.

{clean_files, ["*.eunit","ebin/*.beam"]}.
{eunit_opts,[verbose,{report, {eunit_surefire, [{dir,"."}]}}]}.
{erl_opts, [{d, 'WITH_JIFFY'}]}.
