%%-*- mode: erlang -*-

{deps, [
	{jsx,".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
	{lager, ".*", { git, "https://github.com/basho/lager.git", "master" }},
	{cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
	{reloader, ".*", {git, "https://github.com/yongteak/reloader.git", "master"}},
	{cache, ".*", {git, "https://github.com/fogfish/cache", "master" }}
]}.

{clean_files, ["*.eunit","ebin/*.beam"]}.
{eunit_opts,[verbose,{report, {eunit_surefire, [{dir,"."}]}}]}.
{erl_opts, [{d, 'WITH_JIFFY'}]}.
