<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">x</button>
    <h4 class="modal-title" id="defModalHead"><strong>스마트핀뷰</strong> | Smart pin View</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div>
                <p>Target Component</p>
                <button type="button" class="btn btn-default btn-sm">보유자산</button>
                <button type="button" class="btn btn-default btn-sm">6개월내 결혼 가능성</button>
                <button type="button" class="btn btn-default btn-sm">탈퇴 위험율</button>
                <button type="button" class="btn btn-default btn-sm">자동차 보유 유무</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn col-xs-12 col-md-12 btn-danger" ng-click="next()">다음</button>
</div>